[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask-login = "*"
flask = "*"
boto3 = "*"
plotly = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.11"
