[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gpt-engineer = "*"
dash = "*"
sqlalchemy = "*"
pymysql = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
